/* Global */

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #414e5e;
    font-size: 1.05rem;
}

a {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #414e5e;
}


/* Header */

h1 {
    font-family: 'Patrick Hand', cursive;
    font-size: 3.6rem;
    text-align: right;
}

h2 {
    text-align: right;
    font-size: 1.2rem;
    text-transform: lowercase;
}


/* Navbar */

#nav-row {
    background-color: #c6d8ef;
    text-transform: lowercase;
}

.nav-tabs {
    --bs-nav-tabs-border-width: none;
    --bs-nav-tabs-border-radius: 0;
}

.nav-link {
    color: #39577c;
    font-size: 1.15rem;
}

.nav-link:hover {
    color: #446894;
    text-decoration: underline;
}

.active {
    --bs-nav-tabs-link-active-color: #39577c;
    --bs-nav-tabs-link-active-bg: #a7c4ec;
}


/* Main Panel */

.panel {
    background-color: #e1ebf4;
    padding: 2%;
}

.inner-panel {
    background-color: white;
}


/* Articles */

h3 {
    font-size: 1.8rem;
}

h4 {
    font-family: Diphylleia, serif;
    font-weight: 600;
    font-size: 1.05rem;
    font-style: italic;
}


/* Footer */

#footer-row {
    height: 10%;
    background-color: #c6d8ef;
}

h5 {
    color: #39577c;
    font-size: 1.05rem;
}
